<h1 style="font-family:serif;">Extractor Script to get Top Posts</h1>

<i style="font-family:serif;"><font size="4">Load the dataset</font></i>

In [128]:
# Import the dataset
import pandas as pd
data = pd.read_csv('theatlantic_facebook_statuses_filtered.csv')

In [129]:
data.head(n=1)

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,29259828486_10154829728418487,"If iTunes is beyond repair, it might now be ti...",It's Not Just Classical—Why Serious Music Fans...,link,http://theatln.tc/2g4YLwB,2016-11-23 18:37:02,2,0,2,1,0,0,0,1,0

In [130]:
data.shape

(4462, 15)

In [131]:
data = data[data['status_type'] == 'link']

In [133]:
data.shape

(4382, 15)

<i style="font-family:serif;"><font size="4">Add week number to the data</font></i>

In [134]:
data['week_number'] = data['status_published'].apply(lambda x: pd.to_datetime(x).isocalendar()[1])

In [135]:
data.head(n=1)

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,week_number
0,29259828486_10154829728418487,"If iTunes is beyond repair, it might now be ti...",It's Not Just Classical—Why Serious Music Fans...,link,http://theatln.tc/2g4YLwB,2016-11-23 18:37:02,2,0,2,1,0,0,0,1,0,47

<i style="font-family:serif;"><font size="4">Perform groupby to get top 10 posts per week</font></i>

In [136]:
data_groupedby = data.groupby('week_number')['num_reactions'].nlargest(10)

In [137]:
# Convert to dataframe
df = pd.DataFrame(data_groupedby)

In [138]:
# Get indices for the top 10 posts per week
row_num = []
for i in range(0,len(df)):
    row_num.append(df.index[i][1])

In [139]:
# Filtering the initial dataframe based on the top 10 indices per week
data_req = data[data.index.map(lambda x: x in row_num)]

In [140]:
data_req.shape

(140, 16)

In [141]:
data_req.to_csv("top10_posts_atlantic.csv", index=False)